/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

$accordion-header-font-size: 15px;

// We break with BEM a bit here for simplicity: We use child selectors to
// simplify the reflex code.
// 
// In comparison to the tab bar we consider an accordion a single block,
// instead of having the whole accordion and just its header. (At least for
// now.)

.accordion__header {
  font-family: Arial-BoldMT;
  color: $black-disabled-bg;
  font-size: $accordion-header-font-size;
  margin-bottom: 16px;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 25fr 1fr;
}

.accordion__header-btn-text {
  padding-top: 0.2rem;
}

.accordion__toggle-button {
  width: 24px;
  height: 24px;
  padding: 0 0;
  margin-right: $medium-margin;
  
  img {
    transition: transform 0.1s;
    transform: scale(0.4) rotate(0deg);
    transform-origin: center center;
  }
}


// A button in the accordion title (to the right)
.accordion__title-button {
  float: right;
  height: $control-height;
  justify-self: end;
}

// Info div that gets only shown when collapsed (instead of title button).
.accordion__collapsed-info {
  float: right;
  height: $control-height;
}

.accordion-revealed .accordion__collapsed-info {
  display: none;
}

.accordion-collapsed .accordion__title-button {
  display: none;
}

.accordion-collapsed  .accordion__toggle-button > img {
  transform: scale(0.4) rotate(-90deg);
}

.accordion-collapsed .accordion__content {
  display: none;
}

.deploy-settings-accordion-header__general {
  margin-top: 0;
}
