/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/
@import '../include/defs';

.button {
  position: relative;
  -webkit-appearance: none;
  border-radius: $std-border-radius;
  border-style: $std-border-style;
  border-width: $std-border-width;
  border-color: $std-border-color;

  background: transparent;

  height: $control-height;
  line-height: $control-line-height;

  font-family: $button-font;
  color: $std-color;

  padding: 0 20px;
  margin: 0; //webkit has default of margin: 0px 2px
  cursor: pointer;
  &.extra-margin { margin: 12px; }
}

.button_group {
  width: auto !important;
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-block;
  .button {
    width: 8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    margin: 0;
    border: none;
    background: white;
    border-radius: 0;
    color: grey;
    border-right: 1px solid grey;
  }
  .button:hover, .button:active {
    background: rgb(245,245,245) !important;
    filter: none;
  }
  .button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .button:last-child {
    border-right: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .button.chosen {
    background: $confirm-color;
    color: white;
    font-weight: bold;
  }
  .button.chosen:hover, .button.chosen:active {
    background: $confirm-color-highlight !important;
    filter: none;
  }
}

// Image in a button that goes along some text/label.
.button__text-icon {
  display: inline-block;
  margin-right: 7px;
  position: relative;
  bottom: -1.5px;
  width: 18px;
  height: 11.1px;
  @media (max-width: 1550px) {
    margin-right: 0;
  }
}

// Icon which only shows for small screens
.button__text-icon-exclusive {
  @media (min-width: 1550px + 1px) {
    display: none;
  }
}

// Text which turns into an icon on small screens
.button__text-exclusive {
  @media (max-width: 1550px) {
    display: none;
  }
}

// Standalone icon in a button
.button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button_border_none {
  border: none;
}


.button:hover:not([disabled]) {
  background: $hover-background;
}

.button:active {
  // background: $active-background;
  filter: invert(100%);
}

.button[disabled] {
  cursor: not-allowed;
}

.button.hidden {
  display: none;
}

.button_type_primary {
  border-color: $chainweaver-dark-blue;
  color: $white;
  background: $chainweaver-dark-blue;
  font-size: $primary-font-size;
}

.button_type_primary:hover:not([disabled]) {
  background: $black-hover;
}

.button_type_primary:active {
  filter: invert(100%);
}

.button_type_primary[disabled] {
  opacity: 0.5;
}

.button_type_secondary {
  border-color: $secondary-border-color;
  color: $secondary-color;
  font-size: $secondary-font-size;
}

.button_type_tertiary {
  border-color: $secondary-border-color;
  color: $tertiary-color;
  font-size: $secondary-font-size;
}

// Tiny buttons:
.button_size_tiny {
  height: $tiny-height;
  padding-left: $medium-padding;
  padding-right: $medium-padding;
  font-size: $tiny-font-size;
  line-height: $tiny-line-height;
}

// Small buttons ( a little bigger than tiny )
.button_size_small {
  height: $small-height;
  padding-left: $medium-padding;
  padding-right: $medium-padding;
  font-size: $tiny-font-size;
  line-height: $tiny-line-height;
}

.button_size_full-width {
  width: 100%;
}

.button_size_big {
  width: 90px;
}

.button_type_confirm {
  color: $white;
  background-color: $confirm-color;
  border-color: $confirm-color;
  font-size: $secondary-font-size;
  font-family: WorkSans-Regular;
}

.button_type_confirm[disabled] {
  background-color: transparent;
  color: $black-disabled-color;
  border-color: $std-border-color;
}

.button_type_confirm:hover:not([disabled]) {
  border-color: $hover-background;
}

.button_type_confirm:active:not([disabled]) {
  filter: none;
  background-color: $black;
}

.button_type_copy {
  display:flex;
  flex-direction: row;
  align-items: center;
  img {
    margin-right: 0.4rem;
  }
  &.button_type_confirm {
    img {
      filter: brightness(0) invert(1);
    }
  }
}
