/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

.icon {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
}
