/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

// Standard input component for typing in some text:
.input {
  border-radius: $std-border-radius;
  border-style: $std-border-style;
  border-width: $std-border-width;
  border-color: $std-border-color;

  height: $control-height;
  line-height: $control-line-height;

  font-family: $std-fonts;
  color: $std-color;

  padding: $input-padding;
}

.input::placeholder {
  color: $placeholder-color;
}

.input_type_search {
  background: $white url(/static/img/search.svg) no-repeat right 16.3px top 50%;
  background-size: 14.7px;
}

.input_invalid {
  background-color: rgba(255, 0, 0, 0.6);
}

.input_type_textarea {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1em;
  height: 4em;
}

.input_type_radio {
  margin-top: -1px;
  vertical-align: middle;
}

.input_type_secondary {
  font-size: $secondary-font-size;
  color: $secondary-color;
  border-color: $secondary-border-color;
  background-color: $white;
}

.input_type_secondary::placeholder {
  color: $secondary-placeholder-color;
}

.input_type_tertiary {
  font-size: $secondary-font-size;
  color: $tertiary-color;
  border-color: $secondary-border-color;
  background-color: transparent;
}

.input_width_full {
  width: 100%;
}

input::-webkit-caps-lock-indicator {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

// Disable spin buttons for number inputs
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

.input:disabled {
  color: #757575;
  cursor: not-allowed;
}

.input_transparent {
  background: none;
  border: none;
}

.slider {
  color: $tertiary-color;
  font-size: 14px;
  margin: 0.5rem 0;
  .slider_min, .slider_max {
    margin-top: -0.6rem;
    margin-bottom: 0.5rem;
  }
  .slider_min { float: left; }
  .slider_max { float: right; }
  .clear { clear: both; }
  input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background-color: #999;
    margin: 1rem 0;
    border-radius: 3px;
  }
  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: white;
    border: 1px solid #999;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
  }
  input::-webkit-slider-thumb:hover {
    background: #eee;
  }
  input::-webkit-slider-thumb:active {
    background: #ddd;
  }
}

.dimensional-input-wrapper__units {
  pointer-events: none;
  position: absolute;
  padding-left: 10px;
  color: $tertiary-color;
}

.dimensional-input-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;

  .dimensional-input-wrapper__units + input {
    padding-left: 90px;
  }
}

.dimensional-input__feedback {
  position: absolute;
  right: 0.5em;
  padding-left: 0.5em;
  text-align: right;
  color: $tertiary-color;
  background: white;
  max-width: 60%;
  height: 1.1em;
}

.define-keyset__external-key-input {
  margin-bottom: 10px;
}

.input-max-toggle {
  margin-left: 20px;
  .checkbox__checkmark {
    margin-right: 5px;
  }
}
