/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

// Labels for input elements.
@import '../include/defs';

.label {
  font-family: WorkSans-Medium;
  font-size: 15px;
  color: $tertiary-color;
  font-weight: 500;
}

.label_for_radio {
  cursor: default;
}
