/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

// Input with a label container.
@import '../include/defs';

.labeled-input {
  font-size: 13px;
  color: $tertiary-color;
}

.labeled-input-inline {
  font-size: 13px;
  color: $tertiary-color;
  display: flex;
  align-items: center;
}

.labeled-input__label {
  margin-bottom: $medium-margin;
  min-width: 175px;
}

.labeled-input__label-inline {
  @extend .labeled-input__label;
  margin-bottom: 0px;
}

.labeled-input__input {
  @extend .input_type_secondary;
  width: 100%;
  flex-grow: 1;
  background-color: transparent;

  &.input, &.select, &.textarea {
    background-color: white;
  }
}
