/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

// Input with a label container.
@import '../include/defs';

.labeled-input {
  color: $black-disabled-bg;
}

.labeled-input-inline {
  display: flex;
  align-items: center;
  color: $black-disabled-bg;
  font-family: WorkSans-Medium;
}

.labeled-input__label {
  font-size: 15px;
  margin-bottom: $medium-margin;
  min-width: 175px;
  color: $black-disabled-bg;
}

.labeled-input__label-inline {
  @extend .labeled-input__label;
  margin-bottom: 0px;
}

.labeled-input__input {
  @extend .input_type_secondary;
  width: 100%;
  flex-grow: 1;
  background-color: transparent;

  &.input, &.select, &.textarea {
    background-color: white;
  }

  input {
    width: 100%;
    font-size: 15px;
  }
}

.labeled-input__multiple {
  margin-bottom: 10px;
}

.labeled-preview {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.input_type_textarea.labeled-input__input {
    min-height: 115px;
}

.input_type_textarea.labeled-input__input.signature-input {
  min-height: 0;
}

.input_type_textarea.labeled-input__input.labeled-input__sig-builder {
  min-height: 350px;
}

.input_type_textarea.labeled-input__input.labeled-input__tx-builder {
  // Allow the "rows" attr to resize the box appropriately
  height: auto;
  // Don't let the user resize the textarea horizontally as it makes the modal look janky.
  resize: vertical;
  min-height: 64px;
}

.horizontal-dashed-separator {
  border: dashed 1px #979797;
  margin: 0.5rem 0 0.5rem 0;
}
