/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

$main-header-border-color: $primary-border-color;
$main-header-color: $white;
$main-header-font-size: $primary-font-size;
$main-header-std-height: 36px;
$main-header-std-height-small-screen: 24px;
$main-header-btn-font-size: $secondary-font-size;
$main-header-wallet-btn-bg: #ececec;

// For simplicity this block does not fully adhere to BEM (we are using child
// selectors), but this does seem to be very ok for the main header and
// minimizes the changes we need to do in Haskell. If this ever causes trouble,
// we should go full BEM.

.main-header {
  display: flex;
  justify-content: space-between;
  background: $chainweaver-blue;
  color: $main-header-color;
  padding-top: $normal-padding;
  padding-bottom: $normal-padding;
  position: relative;
  flex: none;
}

.main-header__page-name {
  display: flex;
  align-items: center;
  font-size: 19px;
  flex-grow: 2;
}

.main-header__project-loader {
  text-align: right;
  float: right;
}

.main-header__button {
  color: $white;
  border-color: transparent;
  padding: 0 $normal-padding;
  margin-left: $medium-margin;
  font-size: $secondary-font-size;
  line-height: 0;
  height: $main-header-std-height;

  &.main-header__deploy-button {
    @extend .main-header__button;
    color: $black;
    background: $white;
    &:hover {
      background: $white-hover;
    }
  }
}

.main-header__account-button {
    @extend .main-header__button;
    color: $black;
    background: $main-header-wallet-btn-bg;
}

.main-header__add-account-button {
  @extend .main-header__button;
  color: $black;
  background: $main-header-wallet-btn-bg;
}

.main-header__wallet-refresh-button {
  @extend .main-header__button;
  color: $black;
  background: $main-header-wallet-btn-bg;
}

.main-header__text-icon-button {
}

.main-header__button > .button__text-icon {
  height: $main-header-font-size - 1.5px;
  width: auto;
  filter: invert(100%);
}

.main-header__button:hover {
  background: $black-hover;
}

.main-header__controls-nav {
  // min-width: 455px;
}

.main-header__network-bar {
  justify-content: flex-start;
  background-color: white;
  height: $top-bar-height;

  .page__network-bar-status.signal {
    margin-left: 3rem;
    margin-right: 1rem;
  }
  .page__network-bar-select {
    width: 15%;
  }
}
