/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';
@import '../common.blocks/_group';

.modal {
  display: none;
  z-index: $modal-z-index;
}

.modal,
.modal__screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__screen {
  background: rgba(0, 0, 0, 0.3);
}

.modal_open {
  display: block;
}

body[data-modal-open='true'] {
  overflow: hidden;
}

.modal__dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  min-width: 650px;
  width: 50%;
  height: 75%;
  max-height: calc(100vh - 180px);
  background: $body-background;
  border-radius: $std-border-radius;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);

}

.modal__header {
  @include webkit-rendering-bug-workaround;

  display:flex;
  justify-content: space-between;
  align-items: center;
  background: $black-disabled-bg;
  color: $white;
  border-top-left-radius: $std-border-radius;
  border-top-right-radius: $std-border-radius;
  padding: $normal-padding;
  font-family: WorkSans-Medium;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.modal__button-close {
  width: 22px;
  height: 22px;
  padding: 0;
  line-height: 1rem;
  font-size: $primary-font-size;

  color: $white;
  border-color: $primary-border-color;
}

.modal__button-close-x {
  height: 18px;
}

.modal__main {
  flex-grow: 1;
  padding: $normal-padding $normal-padding;
  min-height: 6em;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Filler item for the body, will take up all the remaining space and is a flex box. */
.modal__filler {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

@mixin modal-filler-horizontal-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__filler-horizontal-center-box {
  @include modal-filler-horizontal-center;
  @media (max-height: 750px) {
    display: none;
  }
}

.modal__filler-horizontal-center-box-no-hide {
  @include modal-filler-horizontal-center;
}

/* Image to be put in the modal__filler. */
.modal__filler-img {
  width: 200px;
  padding-bottom: $normal-padding;
  @media (max-height: 1000px) {
    width: 100px;
    padding-bottom: $medium-padding;
  }
  @media (max-height: 850px) {
    width: 50px;
    padding-bottom: $small-padding;
  }
  flex: 0;
}

.modal__dialog > .tab-nav {
  margin: $normal-margin;
  margin-bottom: 0;
}

.modal__dialog .tab-set__content {
  padding-top: 0;
}

.modal__footer {
  margin: 0 $normal-margin;
  padding: $normal-padding 0;
  border-top: $std-border-width $std-border-style $std-border-color;
  border-bottom-left-radius: $std-border-radius;
  border-bottom-right-radius: $std-border-radius;
  text-align: right;
}

.modal__footer-reversed {
  margin: 0 $normal-margin;
  padding: $normal-padding 0;
  border-top: $std-border-width $std-border-style $std-border-color;
  border-bottom-left-radius: $std-border-radius;
  border-bottom-right-radius: $std-border-radius;
  text-align: right;

  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-start;

  button {
    margin-right: $normal-margin;
    flex-grow: 0;
  }
  button:first-child {
    margin-right: 0px;
  }
}

.modal__footer > * {
  margin-right: $small-margin;
}

.modal__footer > .button {
  margin-right: $normal-margin;
}

.modal__footer > *:last-child {
  margin-right: 0;
}

.detail {
  font-size: 12px;
  margin: 0.5rem 0;
}
.transaction_details {
  .signal {
    display: inline;
    margin-right: 1rem;
    .signal__circle {
      margin-bottom: -2px;
      display: inline-block;
    }
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    color: $black-disabled-bg;
    margin: 1rem 0;
  }
  label {
    font-weight: bold;
    font-size: 14px;
    color: $black-disabled-bg;
  }
  .wallet__key  {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 1rem 0 0;
  }
  .table td {
    max-width: 0;
    text-overflow: ellipsis;
  }
}

.transaction_details__raw-response {
  word-break: break-all;
  white-space: pre-wrap;
}

.details__copy-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.account-details__remove-account-btn {
  float: left;
  background-color: $chainweaver-orange;
  color: $white;
}

.account-delete__confirm {
  background-color: $danger-red;
}

.modal__main.wallet_only__account-created-modal {
  text-align: center;
}

.wallet-only__account-heading {
  font-size: $tiny-font-size;
  line-height: $tiny-line-height;
  color: $tertiary-color;
}

.wallet-only__account-name {
  font-family: WorkSans-Bold;
}

.wallet_only__account-created-done-splash-bg {
  background-size: cover;
  transform: rotateY(180deg);
  margin: 0 auto;
  width: 180px;
  height: 125px;
}

.wallet_only__account-created-wallet-blue-icon {
  transform: rotateY(180deg);
  position: relative;
  top: 20px;
  width: 76px;
  height: 72px;
}

.account-details__tx-builder-wrapper {
  display: flex;
  .input {
    width: auto;
    margin-right: 10px;
  }
}

.grant-capabilities-title {
  display: flex;
  align-items: center;

  .grant-capabilities-title__title {
    flex-grow: 2;
  }
  .grant-capabilities-title__add-button {
    margin-right: 1em;
  }
}

.grant-capabilities-static-input {
  padding: 0;
  font-family: WorkSans-Medium;
  font-weight: 500;
  font-size: 15px;
  color: $tertiary-color;
}
.grant-capabilities-apply-all-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
}

.grant-capabilities-apply-all {
  background: #f1f1f1;
  color: #757575;
  font-size: 15px;
}

.grant-capabilities-static-row__wrapped-cell {
  word-break: break-all;
  overflow: visible !important;
  text-overflow: unset !important;
  white-space: pre-wrap !important;
}

.signing-ui-signers__signer {
  margin-top: $normal-margin;
  margin-bottom: $normal-margin;
  overflow: hidden;
}

.cross-chain-transfer-retry {
  margin-top: 1em;
}

.deploy-meta-cfg__txn-speed .labeled-input__label-inline {
  margin-bottom: 15px;
}

.deploy-meta-cfg__request-expires .labeled-input__label-inline {
  margin-bottom: 50px;
}

// Reset some of the size settings for a tighter fit.
.modal__dialog.logout-confirm-modal {
  height: auto;
  width: auto;
  min-width: auto;

}

button.button.button_type_tertiary.logout-confirm-modal__button {
  margin-right: 2em;
}

.modal__success_screen {
  p {
    text-align: center;
  }
  .fa {
    font-size: 10em;
    color: $chainweaver-blue;
  }
}

.export-wallet__contents-list {
  margin-top: 0rem;
}

.export-wallet__contents-includes {
  margin-bottom: 0.2rem;
}

.preview-acc-key {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}
.create-account__gas-payer {
  .input.input_type_radio {
    margin-right: 12px;
    font-size: 16px;
  }

  .label.label_for_radio {
    color: $black-text;
  }
}

.check-tx-status__button-wrapper {
  text-align: right;
}

.group__signer {
  @extend .group;
  margin-top: 15px;
}

.signer__row {
  display: flex;
  margin-top: 10px;
}
