@import '../include/defs';

.modal {
  display: none;
  z-index: 100;

}

.modal,
.modal__screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__screen {
  background: rgba(0, 0, 0, 0.3);
}

.modal_open {
  display: block;
}

.modal__dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  min-width: 650px;
  width: 50%;
  height: 75%;
  max-height: calc(100vh - 180px);
  background: $body-background;
  border-radius: $std-border-radius;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);

}

.modal__header {
  background: #2d2d2f;
  color: $white;
  border-top-left-radius: $std-border-radius;
  border-top-right-radius: $std-border-radius;
  padding: $normal-padding;
}

.modal__heading {
  font-family: WorkSans-Medium;
  font-size: 20px;
  margin: 0;
}

.modal__button-close {
  float: right;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 3px 0 0 0;
  line-height: 1px;
  font-size: $primary-font-size;

  color: $white;
  border-color: $primary-border-color;
}

.modal__main {
  flex-grow: 1;
  padding: $normal-padding $normal-padding;
  min-height: 6em;
  overflow-y: auto;
}

/* Filler item for the body, will take up all the remaining space and is a flex box. */
.modal__filler {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.modal__filler-horizontal-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-height: 750px) {
    display: none;
  }
}

/* Image to be put in the modal__filler. */
.modal__filler-img {
  width: 200px;
  padding-bottom: $normal-padding;
  @media (max-height: 1000px) {
    width: 100px;
    padding-bottom: $medium-padding;
  }
  @media (max-height: 850px) {
    width: 50px;
    padding-bottom: $small-padding;
  }
  flex: 0;
}

.modal__dialog > .tab-nav {
  margin: $normal-margin;
  margin-bottom: 0;
}

.modal__dialog .tab-set__content {
  padding-top: 0;
}

.modal__footer {
  margin: 0 $normal-margin;
  padding: $normal-padding 0;
  border-top: $std-border-width $std-border-style $std-border-color;
  border-bottom-left-radius: $std-border-radius;
  border-bottom-right-radius: $std-border-radius;
  text-align: right;
}


.modal__footer > * {
  margin-right: $small-margin;
}

.modal__foter > *:last-child {
  margin-left: 0;
}

.detail {
  font-size: 12px;
  margin: 0.5rem 0;
}
.transaction_details {
  .signal {
    display: inline;
    margin-right: 1rem;
    .signal__circle {
      margin-bottom: -2px;
      display: inline-block;
    }
    .signal__circle_status_ok {
      background-color: #28CA41;
    }
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    color: #2d2d2f;
    margin: 1rem 0;
  }
  label {
    font-weight: bold;
    font-size: 14px;
    color: #2d2d2f;
  }
}
