/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page__main-header {
  position: relative;
  width: 100%;

  padding-left: 37px;
  padding-right: $pane-padding-right + 16px; // 16px for scrollbar of body pane.
  min-height: 77px;
}

// Scrollbars on Mac take up no space:
.page__main-header_platform_mac {
  padding-right: $pane-padding-right;
}

.page__main {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.page__content {
  display: none;
  flex-grow: 1;
}

.page__content.visible {
  display: block;
}

.page__content.accounts {
    margin: 0;
    flex-direction: column;
}

.page__content.accounts.visible {
    display: flex;
}

.page__content.contracts {
  margin: 0;
  flex-direction: column;
}

.page__content.contracts.visible {
  display: flex;
}

.page__network-bar-select {
  margin-left: 22px;
}
