@import '../include/defs';

.page__main-header {
  position: relative;
  width: 100%;
  z-index: 99998;

  padding-left: $pane-padding-left;
  padding-right: $pane-padding-right + 16px; // 16px for scrollbar of body pane.
}

// Scrollbars on Mac take up no space:
.page__main-header_platform_mac {
  padding-right: $pane-padding-right;
}

.page__main {
  position: relative;
  width: 100%;
  flex: 1;
}
