/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

// The wallet ui:
@import '../include/defs';

.pagination {
  display: flex;
}

.pagination__button {
  padding: 0 $medium-padding;
  margin: 0 1px;
}

.pagination__page-count {
  display: flex;
  color: $tertiary-color;
  font-size: $secondary-font-size;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.pagination__page-count-text {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}
