/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

// There are two panes in chainweaver: A left pane (the editor) and the right one
// for the controls. Each pane has a body and some header.

.pane {
  display: flex;
  flex-direction: column;
}

// Wrapper for body so scrollbar appears outside the margin.
.pane__body-wrapper {
  overflow-y: auto;
  flex-grow: 1;
}

.pane__body {
  height: auto;
}

// Prevent the repl from jumping around in the mac app
.pane__body_heightfix {
  height: auto !important;
}

.pane-fullwidth {
  width: 100%;
}

.pane-collapsed {
  display: none;
}
