/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

// There are two panes in pact-web: A left pane (the editor) and the right one
// for the controls. Each pane has a body and some header.

.pane {
  display: flex;
  flex-direction: column;
}

.pane__header {
  padding-left: $pane-padding-left;
  padding-right: $pane-padding-right;
  flex-grow: 0;
}

// TODO: this is really no pane__header specific:
// Using display: flex somehow changes the height of the div!! - WTF?!
.pane__header_align_right {
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  // align-items: center;

}
.pane__header_align_right > * {
  float: right;
}

// Wrapper for body so scrollbar appears outside the margin.
.pane__body-wrapper {
  overflow-y: scroll;
  flex-grow: 1;
}

.pane__body {
  height: auto;
}

// Prevent the repl from jumping around in the mac app
.pane__body_heightfix {
  height: auto !important;
}
