/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

.popover {
  cursor: help;
  position: relative;
}


/*== common styles for both parts of popover tip ==*/
.popover::before,
.popover::after {
  left: -34.5rem;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

// If you want to use 'tooltip' like behaviour, then these are
// some of the selectors you will need.
// .popover.popover__popovertip:hover::before,
// .popover.popover__popovertip:focus::before,
// .popover.popover__popovertip:hover::after,
// .popover.popover__popovertip:focus::after,

.popover.popover__display::before,
.popover.popover__display::after {
  opacity: 1;
  z-index: 100; 
}

// Use this to create more colour variations for the bubble and arrow
@mixin popover-colouring($colour, $text-colour: white) {
  &::before {
    border-bottom-color: $colour;
  };
  &::after {
    background: $colour;
    color: $text-colour;
  };
}

@mixin popover-state-border($colour) {
  border: 0.1rem solid $colour;
}

.popover.popover__error { @include popover-colouring($danger-red); }
.popover__error-state { @include popover-state-border($danger-red); }

.popover.popover__warning { @include popover-colouring($chainweaver-orange); } 
.popover__warning-state { @include popover-state-border($chainweaver-orange); }

/*== pointer tip ==*/
.popover::before {
  border-left: 0 solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 2rem solid;

  top: 0.5rem;
  content: "";
} 

/*== speech bubble ==*/
.popover::after {
  border-radius: .25em;

  content: attr(data-tip);
  padding: 0.4rem;
  top: 2rem;
}
