/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

.popover {
  cursor: help;
  position: relative;
  width: 100%;
}

/*== common styles for both parts of popover tip ==*/
.popover__message::before,
.popover__message::after {
  display: none;
  position: absolute;
  right: 0;
  z-index: $popover-z-index;
}

// If you want to use 'tooltip' like behaviour, then these are
// some of the selectors you will need.
// .popover.popover__popovertip:hover::before,
// .popover.popover__popovertip:focus::before,
// .popover.popover__popovertip:hover::after,
// .popover.popover__popovertip:focus::after,

.popover__message.popover__display::before,
.popover__message.popover__display::after {
  display: initial;
}

// Use this to create more colour variations for the bubble and arrow
@mixin popover-colouring($colour, $text-colour: white) {
  &::before {
    border-bottom-color: $text-colour;
  };
  &::after {
    border-color: $text-colour;
    background: $colour;
    color: $text-colour;
  };
}

@mixin popover-state-border($colour) {
  border: 0.1rem solid $colour;
}

.popover__message.popover__error { @include popover-colouring($chainweaver-light-red, $chainweaver-dark-red); }
.popover__error-state { @include popover-state-border($chainweaver-dark-red); }

.popover__icon {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

i.fa.popover__icon-error { color: $danger-red; };
i.fa.popover__icon-warning { color: $chainweaver-orange; }

/*== pointer tip ==*/
/* Looks weird in the presence of the triangle icon in combo boxes */
/*.popover__message::before {
  bottom: 35px;
  content: "";
  border-left: 1rem solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 1.4rem solid;
}*/

/*== speech bubble ==*/
.popover__message::after {
  border: 0.2rem solid;
  border-radius: .25em;
  content: attr(data-tip);
  padding: 0.4rem;
  /*bottom: -50px;*/
  /* Used to show up below the field, but moved to above because of poor interaction with combo boxes. */
  bottom: 45px;
  line-height: initial;
}
