/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

// The wallet ui:
@import '../include/defs';

.repl {
  @include code-font;
  background: $white;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px;
}

.repl__header {
  display: inline;
  color: #646464;
}

.repl__header-section {
  margin-bottom: 15px;
}

.repl__header-separator {
  margin-top: 25px;
  margin-bottom: 25px;
  hr {
    border-style: dashed;
    border-color: $chainweaver-blue;
  }
}

.repl__header-banner.repl__header-banner-text {
  display: inline;
  font-family: WorkSans-Bold;
}

.repl__header-banner.repl__header-banner-decoration {
  display: inline;
  font-family: WorkSans-Regular;
}

.repl__header-plain {
  display: inline;
  font-family: WorkSans-Light;
}
.repl__header-quote {
  display: inline;
  font-family: WorkSans-Medium;
}
.repl__header-code {
  display: inline;
  font-family: RobotoMono;
  font-size: 14px;
}

.repl__input-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.repl__prompt {
    padding-right: 5px;
    flex-grow: 0;
}

.repl__input {
    flex-grow: 1;
    border: none;
    padding: 0 5px;
    background: transparent;
}

.repl__input:focus {
    outline: none;
}
