/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';


.segment {
  width: 100%;
  padding: 0 0 $normal-padding;
  margin-bottom: $normal-margin;
  border-bottom: $std-border-width dashed $std-border-color;
}

.segment.padded {
  padding: $normal-padding;
  margin-bottom: 0;
}

.segment:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.segment_type_secondary {
  border-bottom: none;
  padding: 0 0 0;
  margin-bottom: $normal-margin;
}

.segment_type_small-primary {
  padding: 0 0 $medium-padding;
  margin-bottom: $medium-margin;
}

.segment_type_small-primary:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.segment_type_tertiary {
  border-bottom: none;
  padding: 0 0 0;
  margin-bottom: $medium-margin;
}

.segment_type_tertiary:last-child {
  margin-bottom: 0;
}
