// The wallet ui:
@import '../include/defs';

$fullscreen-wallet-grey: #f1f1f1;
$wallet-top-btm-margin: 0.5rem 0 0.5rem 0;
$kadena-orange: #F3AB3C;

.setup__fullscreen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.6fr;
  grid-template-areas: "back header header ." ". wrapper wrapper .";

  p {
    margin: 2rem auto;
  }

  .checkbox {
    font-size: 20px;
    color: #fff;
    text-align: left;
    display: inline-block;
    padding-left: 40px;

    .checkbox__checkmark {
      top: 2px;
      height: 20px;
      width: 20px;
    }
    .checkbox__checkmark_type_secondary:after {
      top: 2px;
      left: 6px;
      width: 3px;
      height: 10px;
    }
  }
}

.setup__fullscreen .wrapper {
  grid-area: wrapper;
  text-align: center;
  justify-self: center;
  position: relative;
  padding: 2em 10em;

  .logo {
    margin: 0 auto;
    font-size: 30px;
    position: absolute;
    top: 9rem;
    left: 23rem;
    background-color: $std-border-color;
    padding: 1rem;

    img.setup__kadena-logo {
      width: 6rem;
    }

    .chainweaver {
      font-family: HaasGrotDisp75;
      color: initial;
    }

    .by-kadena {
      font-family: HaasGrotDisp45;
      font-size: 24px;
      color: $tertiary-color;
    }
  }
}

.setup__back {
  grid-area: back;
  align-self: stretch;
  padding-top: 2em;
  color: $tertiary-color;

  >span {
    font-size: 1.5em;
    padding: 2em;
    cursor: pointer;
  }
}

.setup__fullscreen .setup__workflow-header {
  grid-area: header;
  text-align: center;
  align-self: stretch;

  li.setup__workflow-icon {
    display: inline-block;
    color: $confirm-color;
    min-width: 10rem;
  }
}

.setup__workflow-icons {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  padding-inline-start: 0; // 40px is added by user agent stylesheet
}

.setup__workflow-icon.active .setup__workflow-icon-circle {
  background-color: $confirm-color;
}

.setup__workflow-icon-circle {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 2rem;
  display: table;
  margin-left: 3.5rem;

  .setup__workflow-icon-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.setup__workflow-icon-value {
  position: absolute;
  top: 1.3rem;
  left: 1.7rem;
  font-size: 0.7em;
}

.setup__new-wallet-password-text {
  margin-bottom: 1rem;
}

.setup__fullscreen {
  .checkbox, .button {
    margin: $wallet-top-btm-margin; 
    font-weight: initial;
  }

  .setup__password {
    margin: $wallet-top-btm-margin;
  }

  .setup__password-wrapper {
    position: relative;

    &::before {
      pointer-events: none;
      font-family: FontAwesome;
      font-size: 2em;
      content: "\f023"; // Padlock
      z-index: 1;
      position: absolute;
      left: 1rem;
      top: -0.5rem;
      color: lightgray;
    }
  }

  input.setup__password {
    padding-left: 2em;
  }

  .button, .setup__password {
    height: initial;
    line-height: initial;
    padding: 1.3rem;
    width: 96%;
    font-size: 25px;
    font-weight: initial;

    &.button_type_secondary {
      border: initial;
      font-size: 22px;
      color: $tertiary-color;
    }
  }
}

.setup__checkbox-wrapper {
  margin: 1rem;
  .checkbox {
    color: $confirm-color;
  }
}

.setup__terms-conditions-checkbox {
  color: $confirm-color;
}

.setup__key {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.setup__key_hidden {
  text-overflow: clip;
}

.setup__key_type_private.setup__key_hidden {
  cursor: alias;
}

.setup__delete {
  text-align: right;
}

.setup__add {
  @extend .setup__delete;
}

.setup__add-delete-button {
  width: 30px;
}

.setup__record-phrase-msg {
  margin-bottom: 2em;
}

.setup__passphrase-widget-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.setup__passphrase-widget-word-hider {
  background-color: $fullscreen-wallet-grey;
}

.setup__passphrase-widget-word,
.setup__passphrase-widget-word-hider,
.setup__passphrase-widget-elem-wrapper {
  text-align: center;
  margin-bottom:0.5em;
  font-size: 20px;
}

.setup__passphrase-widget-word {
  display:none;
}

.setup__passphrase-widget-elem-wrapper {
  &:hover .setup__passphrase-widget-word {
    display: initial;
  }
  &:hover .setup__passphrase-widget-word-hider {
    display: none;
  }
}

.setup__fullscreen .setup__verify-phrase-msg {
  margin-bottom: 1.5rem;
}

.setup__fullscreen .setup__message {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s linear;

  &.setup__show-pw-error {
    max-height: 2rem;
  }
}
.setup__fullscreen .setup__message-wrapper {
  margin: 2rem auto;
}

.setup__recovery-phrase-copy button.button {
  width: 30%;
  padding: 0.4rem;
  margin-bottom: 0;
  border: none;

  i.fa {
    color: $confirm-color;
    margin-right: 0.4rem;
  }

  .setup__recovery-phrase-copy-word {
    color: $tertiary-color;
    font-size: 25px;
  }
}

.setup__fullscreen .setup__message-wrapper > .message {
  background-color: rgba(0,0,0,0.4);
  border-radius: 0.3rem;
  padding: 0.5rem;
  display: inline-block;
}

.setup__hide {
  display: none;
}

.setup__password-bg {
  width: 70%;
}

.setup__done-splash-bg {
  transform: rotateY(180deg);
}

.setup__wallet-blue-icon {
  position: absolute;
  top: 7rem;
  left: 23.5rem;
  transform: scale(1.2);
}

.setup__warning-checkbox {
  margin: 0.5rem;
  width: 140%;
  margin-left: -9rem;
}

.setup__repeat-icon {
  position: absolute;
  top: 5rem;
  left: 21rem;
  z-index: 10;
  transform: scale(4);

  .fa-repeat {
    font-size: 1.9rem;
  }
}

.setup__recover-widget-wrapper,
.setup__verify-widget-wrapper {
  background-color: #fff;
}

.setup__waiting-passphrase {
  min-height: 20em;
  padding-top: 3em;
}

.setup__recover-enter-password {
  min-height: 20em;
}

.setup__recovery-use-bip39-wrapper {
  min-height: 3em;

  .setup__checkbox-wrapper .checkbox {
    color: $kadena-orange;
    float: left;
  }

  .passphrase {
    display: block;
    margin: 1rem auto;
    width: 20rem;

    &.hidden {
      display: none;
    }
  }
}

.setup__recovery-text {
  margin: 2rem;
}

.setup__recover-restore-button .button.button_type_confirm {
  background-color: $kadena-orange;
  border-color: $kadena-orange;
  color: #fff;
}
