/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

// The wallet ui:
@import '../include/defs';

$wallet-top-btm-margin: 0.5rem 0 0.5rem 0;
$kadena-orange: #F3AB3C;
$setup-progress-button-height: 52px;

.setup__fullscreen {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.6fr;
  grid-template-areas: "back header header ." ". wrapper wrapper .";
}

.setup__checkbox {
  .checkbox {
    color: $chainweaver-blue;
  }

  .checkbox__checkmark {
    height: 20px;
    width: 20px;
  }
  .checkbox__checkmark_type_secondary:after {
    top: 2px;
    left: 6px;
    width: 3px;
    height: 10px;
  }
}

.setup__fullscreen .wrapper {
  grid-area: wrapper;
  text-align: center;
  justify-self: center;
  position: relative;
  padding: 2em 2em;

  .logo {
    margin: 0 auto;
    font-size: 26px;
    position: relative;
    top: 100px;
    background-color: $std-border-color;
    width: 181px;
    height: 181px;

    img.setup__kadena-logo {
      width: 74px;
      height: 81px;
      margin-top: 27px;
    }

    .chainweaver {
      font-family: HaasGrotDisp75;
      color: initial;
      margin-top: 7px;
    }

    .by-kadena {
      font-family: HaasGrotDisp45;
      font-size: 15px;
      color: $tertiary-color;
    }
  }
}

.setup__back {
  grid-area: back;
  align-self: stretch;
  padding-top: 2em;
  color: $tertiary-color;

  >span {
    font-size: 1.5em;
    padding: 2em;
    cursor: pointer;
  }
}

.setup__fullscreen .setup__workflow-header {
  grid-area: header;
  text-align: center;
  align-self: stretch;

  li.setup__workflow-icon {
    display: inline-block;
    color: $chainweaver-blue;
    min-width: 8rem;
  }
}

.setup__header-line {
  height: 3px;
  width: 63px;
  background-color: $white;
  margin-top: 1.3rem;
  position: absolute;

  &.active {
    background-color: $chainweaver-blue;
  }

  &.pw-recovery {
    left: 6rem;
  }
  &.verify-done {
    left: 22rem;
  }
}

.setup__workflow-icons {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  padding-inline-start: 0; // 40px is added by user agent stylesheet
  min-width: 75px;
  position: relative;
}

.setup__workflow-icon.active .setup__workflow-icon-circle {
  background-color: $chainweaver-blue;
}

.setup__workflow-icon-circle {
  background-color: $white;
  width: 3em;
  height: 3em;
  border-radius: 2rem;
  display: table;
  border: solid;
  border-color: $body-background;
  border-width: 0.45rem;
  margin-left: 2.5rem;

  .setup__workflow-icon-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.setup__workflow-icon-value {
  position: absolute;
  top: 1.3rem;
  left: 1.7rem;
  font-size: 0.7em;
}

.setup__new-wallet-password-text {
  margin-bottom: 1rem;
  color: gray;
}

.setup__fullscreen {
  .setup__checkbox, .button {
    margin: $wallet-top-btm-margin;
    font-weight: initial;
  }

  .setup__password {
    margin: $wallet-top-btm-margin;
    padding: 1.3rem;
    padding-left: 2em;
    height: $setup-progress-button-height;
    line-height: initial;
    font-size: 23px;
    font-weight: initial;
    flex-grow: 1;
  }

  .setup__password-wrapper {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .setup__password-wrapper-lock {
      position: absolute;
      left: 25px;
      justify-content: space-around;
      align-items: center;
  }

  .button {
    height: initial;
    line-height: initial;

    &.button_type_confirm {
      font-size: 18px;
      height: $setup-progress-button-height;
      padding: 0;
    }

    .button__text-icon {
      height: 25px;
      bottom: -5px;
    }

    &.button_type_secondary {
      font-size: 16px;
      padding: 10px;
      color: $tertiary-color;
      flex-grow: 1;

      .button__text-icon {
        height: 15px;
        bottom: -2px;
      }
    }
  }
}

.setup__checkbox-wrapper {
  margin: 1rem;
}

.setup__checkbox {
  color: $chainweaver-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup__terms-conditions-checkbox {
  color: $chainweaver-blue;
  font-size: 15px;
}

.setup__terms-conditions-link {
  color: unset;
  font-weight: bold;
}

.setup__key {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.setup__key_hidden {
  text-overflow: clip;
}

.setup__key_type_private.setup__key_hidden {
  cursor: alias;
}

.setup__help {
  text-decoration: none;
}

.setup__button-horizontal-group {
  display: flex;
  flex-direction: row;
  .button { margin-left: 0.5rem !important; }
  .button:first-child { margin-left: 0 !important; }
}

.setup__record-phrase-msg {
  margin-bottom: 2em;
}

.setup__passphrase-widget-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.setup__passphrase-widget-word-hider {
  background-color: $body-background;
}

.setup__passphrase-widget-word,
.setup__passphrase-widget-word-hider,
.setup__passphrase-widget-elem-wrapper {
  text-align: center;
  font-size: 20px;
}

.setup__passphrase-widget-word {
  opacity: 0;
}

.setup__passphrase-widget-word--focused {
  opacity: 1;
}

.setup__passphrase-widget-word-hider--focused {
  display: none;
}

.setup__fullscreen .setup__verify-phrase-msg {
  margin-bottom: 1.5rem;
}

.setup__password-message {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s linear;

  &.setup__show-pw-error {
    max-height: 2rem;
  }
}

.setup__recovery-phrase-copy button.button {
  width: 30%;
  padding: 0.4rem;
  margin-bottom: 0;
  border: none;

  img {
    margin-right: 0.4rem;
  }

  .setup__recovery-phrase-copy-word {
    color: $chainweaver-blue;
    font-size: 25px;

    .setup__copy-status {
      opacity: 0;
      transform: rotateY(90deg);
      transition: opacity, transform 0.25s linear;
      padding-left: 1rem;

      &.setup__copy-success {
        opacity: 1;
        transform: none;
        color: green;
      }

      &.setup__copy-fail {
        opacity: 1;
        transform: none;
        color: red;
      }
    }
  }
}

.setup__hide {
  display: none;
}

.setup__password-bg {
  width: 550px;
}

.setup__splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup__splash-bg {
  width: 580px;
  height: 400px;
  background-size: cover;
}

.setup__splash-terms-buttons {
  width: 356px;
  display: flex;
  flex-direction: column;
}

.setup__done-splash-bg {
  transform: rotateY(180deg);
}

.setup__done-splash-bg > * {
  transform: rotateY(180deg);
}

.setup__wallet-blue-icon {
  position: relative;
  top: 60px;
  margin: 0 auto;
  height: 250px;
}

.setup__warning-checkbox {
  margin: 2rem 0.5rem;
  width: 140%;
  margin-left: -9rem;
}

.setup__repeat-icon {
  position: absolute;
  color: #212121;
  left: 350px;
  z-index: 10;

  .fa-repeat {
    font-size: 7rem;
    top: 1px;
  }
}

.setup__recover-widget-wrapper,
.setup__verify-widget-wrapper {
  background-color: $white;
}

.setup__waiting-passphrase {
  min-height: 20em;
  padding-top: 3em;
}

.setup__recover-enter-password {
  min-height: 20em;
}

.setup__recovery-text {
  margin: 2rem;
}

.setup__restore-existing-button {
  border: 0;
}

.setup__recover-restore-button .button.button_type_confirm {
  background-color: $kadena-orange;
  border-color: $kadena-orange;
  color: $white;
}

.setup__continue-button {
  display: flex;
  flex-direction: column;
  margin-top: $double-margin;
}
