@import '../include/defs';

.signal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signal__circle {
  border-radius: 50%;
  border-color: $std-border-color;
  border-style: solid;
  border-width: 1px;
  height: 14px;
  width: 15px;
}

.signal__circle_status_ok {
  background-color: #7FFF00;
}

.signal__circle_status_problem {
  background-color: red;
}
