/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

// Loading spinner animation:
@import '../include/defs';

.spinner {
  width: 100%;
}

.spinner__cubes {
  margin: 100px auto;
  width: 60px;
  height: 40px;
  position: relative;
}

.spinner__msg {
    position: relative;
    margin: -60px auto;
    width: 60px;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(48px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(48px) translateY(48px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(48px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(48px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(48px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(48px) translateY(48px) rotate(-179deg);
    -webkit-transform: translateX(48px) translateY(48px) rotate(-179deg);
  } 50.1% {
    transform: translateX(48px) translateY(48px) rotate(-180deg);
    -webkit-transform: translateX(48px) translateY(48px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(48px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(48px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
