/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';


.tab-set {
  height: 100%;
  position: relative;
}

.tab-set__content {
  display: none;
}

.tab-set__content_active {
  display: block;
  width: 100%;
  padding-top: $normal-padding;
}
