@import '../include/defs';


.tab-set {
  height: 100%;
  position: relative;
}

.tab-set__content {
  display: none;
}

.tab-set__content_active {
  display: block;
  width: 100%;
  padding-top: $normal-padding;
}
