@import '../include/defs';

$tab-nav-background: $body-background;


$tab-nav-secondary-border-color: #e1e2e1;
$tab-nav-secondary-active-border-color: #fff;

.tab-nav {
  border-bottom: $std-border-width $std-border-style $std-border-color;
  background: $tab-nav-background;
  padding-bottom: $normal-padding;
}

.tab-nav__button {
  background: transparent;
  position: relative;
  border: $std-border-width $std-border-style $std-border-color;

  color: $tertiary-color;
  font-size: $secondary-font-size;

  margin-right: $medium-margin;
}


.tab-nav__button_type_primary.tab-nav__button:active,
.tab-nav__button_type_primary.tab-nav__button_active {
  color: $white;
  background-color: $black;
  border-color: $black;
}

.tab-nav__button_type_primary.tab-nav__button_active:hover {
  background-color: $black-hover;
}

.tab-nav_type_secondary {
  border-bottom: 1px solid $tab-nav-secondary-border-color;
  padding-bottom: 0;
}

.tab-nav__button_type_secondary {
  position: relative;
  bottom: -2px;

  background: transparent;

  border-radius: 0;
  border: none;

}

.tab-nav__button_type_secondary:active,
.tab-nav__button_type_secondary.tab-nav__button_active {
  border-bottom: 2px solid #000;
  color: #000;
}

