/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

ol.transaction_status {
  // For the fake list item numbering
  counter-reset: li;
  list-style: none;
  font-size: 14px;

  li {
    counter-increment: li;
    height: 20px;
    line-height: 20px;
    margin-top: 32px;
    position: relative;

    &:first-child {
      margin-top: 0;
    }
    &.waiting {}
    &.working {}
    &.done { font-weight: bold; }
    &.failed { }

    &::before {
      content: counter(li);
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background-color: white;
      position: absolute;
      top: 0%;
      left: -30px;
      text-align: center;
      font-size: 10px;
      color: #666;
    }

    &.done::before, &.done::after {
      background-color: #4499d9;
    }

    &.done::before {
      content: "\f00c"; // Checkmark
      font-family: FontAwesome;
      color: white;
    }

    &.failed::before {
      content: "\f00d"; // Cross
      font-family: FontAwesome;
      color: red;
    }

    // These are the vertical bars separating the items
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 28px;
      background-color: white;
      border-radius: 1px;
      position: absolute;
      bottom: calc(100% + 2px);
      left: -21px;
    }
    &:first-child::after {
      display: none;
    }
  }
}
