/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

.wallet__keys-list {
  padding-left: 22px;
  overflow: auto;
}

.wallet__table-row {
  border-style: $std-border-style;
  border-color: $std-border-color;
  border-width: $std-border-width;
}

.wallet__table-row-account {
  background-color: #d7d7d7;
  border-bottom: 2px $body-background solid;
}

.wallet__table-heading {
  @extend .table__heading;
  padding: 5px;
  padding-top: 35px;
  padding-bottom: 30px;
  white-space: nowrap;

  position: sticky;
  top: 0px;
  z-index: $main-header-z-index;
  background: #f1f1f1;

  // sticky table headers have non-sticky borders
  // fake it with box-shadow to hide borders from the non-sticky elements scrolled under the header
  // https://stackoverflow.com/questions/44175408/unable-to-set-border-properties-on-position-fixed-thead
  box-shadow: 0px -1px 0px 1px #f1f1f1;
}

.wallet__table-cell {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wallet__table-cell-balance {
  word-break: break-word;
}

.wallet__table-cell-keyset {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wallet__public-key {
  display: flex;
  flex-direction: row;
  .wallet__public-key__prefix {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.wallet__table-wallet-address {
  width: 15em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wallet__table-buttons {
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.wallet__table-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $body-background;
  color: $tertiary-color;
  padding: 0 10px;
  font-size: 0.8em;
  margin-right: $medium-margin;
  line-height: 22px;
  height: 26px;

  text-overflow: ellipsis;
  overflow: hidden;

  @media (max-width: $cutoff-account-buttons-text) {
    padding: 0 10px;
    margin-right: 0;
    &:not(:first-child) {
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.button.wallet__table-button-key:hover {
  background-color: $black-hover;
}

.wallet__table-button--hamburger {
  padding: 0 15px;
}

.labeled-input__input.account-chain-input .popover {
    width: 70%;
    display: inline-block;
}
.labeled-input__input.account-chain-input input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.labeled-input__input.account-chain-input select {
    width: 30%;
    background-color: white;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 15px;
}
