/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@import '../include/defs';

.wallet__keys-list {
  margin-top: 20px;
  margin-left: 22px;
}

.wallet__table-row {
  border-style: $std-border-style;
  border-color: $std-border-color;
  border-width: $std-border-width;
}

.wallet__table-row-key {
  background-color: #d7d7d7;
  border-bottom: 2px $body-background solid;
}

.wallet__table-heading {
  @extend .table__heading;
  padding: 15px;
  padding-bottom: 30px;
  white-space: nowrap;
}

.wallet__table-cell {
  padding: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wallet__table-wallet-address {
  width: 15em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wallet__table-buttons {
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.wallet__table-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $body-background;
  color: $tertiary-color;
  padding: 0 10px;
  font-size: 0.8em;
  margin-right: $medium-margin;
  line-height: 22px;
  height: 26px;

  text-overflow: ellipsis;
  overflow: hidden;

  @media (max-width: 1550px) {
    padding: 0 10px;
    margin-right: 0;
    &:not(:first-child) {
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.button.wallet__table-button-key:hover {
  background-color: $black-hover;
}

.wallet__table-button--hamburger {
  padding: 0 15px;
}
