.ace_gutter {
  background-color: #e1e2e1 !important;
  color: #727272 !important;
  font-family: RobotoMono-Light !important;
}

.ace_print-margin {
  width: 1px!important;
  background: #ebebeb!important;
}

.ace_editor {
  background-color: #FFFFFF!important;
  color: black!important;
}

.ace_fold {
    background-color: rgb(60, 76, 114)!important;
}

.ace_cursor {
  color: black!important;
}

.ace_storage,
.ace_keyword,
.ace_variable {
  color: #f4b23e !important;
}

.ace_constant.ace_buildin {
  color: #f4b23e !important;
}

.ace_language {
  color: #f4b23e !important;
}

.ace_constant.ace_library {
  color: rgb(6, 150, 14)!important;
}

.ace_function {
  font-style: normal;
  color: #ff0200 !important;
}

.ace_string {
  color: #4499d9 !important;
}

.ace_comment {
  font-weight: normal !important;
  font-style: italic !important;
  letter-spacing: normal !important;
  color: #999999 !important;
}

.ace_comment.ace_doc {
  color: rgb(63, 95, 191)!important;
}

.ace_comment.ace_doc.ace_tag {
  color: rgb(127, 159, 191)!important;
}

.ace_constant.ace_numeric {
  color: darkblue!important;
}

.ace_tag {
  color: rgb(25, 118, 116)!important;
}

.ace_type {
  color: rgb(127, 0, 127)!important;
}

.ace_xml-pe {
  color: rgb(104, 104, 91)!important;
}

.ace_marker-layer .ace_selection {
  background: rgb(181, 213, 255)!important;
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px!important;
  border: 1px solid rgb(192, 192, 192)!important;
}

.ace_meta.ace_tag {
  color:rgb(25, 118, 116)!important;
}

.ace_invisible {
  color: #ddd!important;
}

.ace_entity.ace_other.ace_attribute-name {
  color:rgb(127, 0, 127)!important;
}
.ace_marker-layer .ace_step {
  background: rgb(255, 255, 0)!important;
}

.ace_active-line {
  background: rgb(232, 242, 254)!important;
}

.ace_gutter-active-line {
  background-color : #DADADA!important;
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid rgb(181, 213, 255)!important;
}

.ace_indent-guide {
  background: url("data:image/png!important;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y!important;
}
