/* Extra styles added on top of the ones in pact-web-ui */

.hidden.transition { display: none; visibility: hidden; }

.replOut {
  overflow: hidden;
  word-break: break-all;
}

.repl-input-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.repl-input-controls .prompt {
    padding-right: 5px;
    flex-grow: 0;
}

.repl-input-controls input {
    flex-grow: 1;
    border: none;
    padding: 0 5px;
}

.repl-input-controls input:focus {
    outline: none;
}

.repl-input-controls button {
    width: 100%;
    padding: 0;
    margin: 0;
}


.wysiwyg,.ace_editor,.code-font {
    font-family: 'RobotoMono', monospace !important;
    font-size: 15px;
}

.wysiwyg,.ace_editor {
    background: #ffffff !important;
}

.wysiwyg {
  position: relative;
  border-radius: 4px;
}

.wysiwyg > * {
  border-radius: 4px;
}

.wysiwyg .ace_editor,.ace_scroller {
  border-radius: 4px;
}

/* More space to the left of the code, so we match design */
.ace_scroller {
  margin-left: 8px;
}

.ace_editor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -8px;
}

.ace_container {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 8px;
}

/**********************************************************/

.ace_scrollbar {
    display: none !important;
}

#control-nav .wysiwyg {
  height: 30vh;
}

.header i {
  cursor: pointer;
}

h4 .keyset-chooser-toggle {
  cursor: pointer;
}

#main #control-ui {
  width: 50%;
}
div.control-block.repl-output {
  overflow-x: auto;
}

#modal-root select {
  color: black;
  padding-right: 36px;
  background-image: url(/static/img/arrow-down.svg);
  background-size: 10px;
}


[type = "button"]:hover {
  cursor: pointer;
}

.left-col {
  text-align: left;
}

.error {
  color: red;
}

/****************************************************************************
                                Loading spinner
****************************************************************************/

.spinner {
  margin: 100px auto;
  width: 60px;
  height: 40px;
  position: relative;
}

.spinner-msg {
    position: relative;
    margin: -60px auto;
}

.cube1, .cube2 {
  background-color: #33F;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(48px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(48px) translateY(48px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(48px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(48px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(48px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(48px) translateY(48px) rotate(-179deg);
    -webkit-transform: translateX(48px) translateY(48px) rotate(-179deg);
  } 50.1% {
    transform: translateX(48px) translateY(48px) rotate(-180deg);
    -webkit-transform: translateX(48px) translateY(48px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(48px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(48px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
