/* New stuff: */

html {
  font-size: 11pt;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

h1.ui.header {
  font-size: 1.3 rem;
  font-weight: 800;

}

h2.ui.header {
  font-size: 1.2rem;
  font-weight: 700;

}

h3.ui.header{
  font-size: 1.1rem;
  font-weight: 600;

}

h4.ui.header {
  font-size: 1.0rem;
  font-weight: 400;
}

.app > .ui.menu {
  flex-grow: 0;
}
/* Restore default of unthemed semantic: */
.ui.menu {
  font-size: 1rem !important;
}

.ui.dropdown, .ui.dropdown .item, .ui.dropdown .menu, .ui.dropdown .menu .item {
    font-size: 1rem !important;
}

/* END -- Restore default of unthemed semantic: -- END*/

.app > .main {
  flex-grow: 5;
}

.editor-pane, .env-pane {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.env-pane {
  /* background-color: #4e5d6c; */
}

/* Variation of segment without a margin */
.ui.segment.light {
  margin: 0;
  padding-top: 0;
}

.editor-pane.accordion > .title {
  flex-grow: 0;
}

.editor-pane.accordion > .content.code {
  flex-grow: 4;
}

.repl-pane {
  background: #fdf6e3;
  overflow: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.flex-accordion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.full-size {
  height: 100%;
  width: 100%;
}

.full-size-abs {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.flex-accordion > .content {
  flex-grow: 1;
  position: relative;
}

.flex-content {
  flex-grow: 1;
  position: relative;
}

.ace_editor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font: 12pt/normal 'Monaco', 'Menlo', 'Consolas', 'source-code-pro', monospace;
}

/* Elements that should have text rendered like the Code editor. (Monospace, same size, ...) */
.code-font {
  font: 12pt/normal 'Monaco', 'Menlo', 'Consolas', 'source-code-pro', monospace;
  background-color: #002B36;
  color: #586E75;
}

.json-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.json-data > .editor {
  position: relative;
  flex-grow: 1;
}

.json-data > .keyset-editor {
  flex-grow: 0;
}

/* Old stuff: */

/* Page layout */

html, body {
  height: 100%;
  overflow: hidden;
}

.ace_scrollbar {
    display: none !important;
}


body {
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  color: white;
  /* Prettier fonts: */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

#more_information {
    position: fixed;
    top: 0;
    right: 0;
}



.nowrap {
  white-space: nowrap;
}

.info {
  margin-top: -6px;
  font-size: 12px;
  font-variant: small-caps;
}

blockquote {
  font-style: italic;
  display: block;
  padding: 10px 40px;
  margin: 0;
}

iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  font-family: monospace;
  color: darkgray;
  margin: 15px;
  font-size: 15px;
}

.replOut {
  white-space: pre-wrap;
}

.ui-state-disabled {
    display: none;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    top: 150%;
    left: 50%;
    margin-left: -100px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 800px) {
    #hideIfTiny {
        display: none;
    }
    #showAfterLoad {
        text-align: center;
    }
    .view_mode {
        float: none !important;
    }

}

.repl-input-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.repl-input-controls .prompt {
  padding-right: 10px;
  flex-grow: 0;
}

.repl-input-controls input {
  flex-grow: 1;
  border: none;
}

.repl-input-controls input:focus {
    outline: none;
}

.repl-input-controls button {
    width: 100%;
    padding: 0;
    margin: 0;
}

#pactVersion {
  padding-left: 10px;
  padding-right: 10px;
}

#loadButton {
  padding-left: 10px;
}

.code-example-dropdown {
    border-bottom: solid 1px black;
}

.logo-image {
    position: relative;
}

.menu-link {
    padding-left: 5px;
}

/* Override weird setting in superhero theme, which results in the downarrow looking different in the menu than anywhere else: */
.ui.menu i.dropdown.icon {
  color: #555;
}

/* Make button size equal to dropdown size */
.menu .ui.button {
  /* padding: calc(.73333rem + 1px) 1.5em calc(.73333rem + 1px) !important; */
}

input.ui, .selection.dropdown.ui, button.ui {
  padding-top: 0.73333rem;
  padding-bottom: 0.73333rem;
}

.ui.pointing.menu.secondary.dark .item.active {
/*  color: #859900; /* ace-keyword */
/*  color: #268BD2; /* ace-keyword */
  /* background-color: #4e5d6c; */
  color: white;
  font-weight: 800;
}

.ui.pointing.menu.secondary.dark .item {
/*  color: #859900; /* ace-keyword */
/*  color: #268BD2; /* ace-keyword */
  /* background-color: #4e5d6c; */
  /*color: #555; /* Same color as border-bottom of menu */
  /* color: #4e5d6c; */
  color: grey;
}
