.control-ui .control-block input.search-input {
  flex: 1;
  margin: 0;
  font-size: 15px;
  padding: 0 10px;
  line-height: 32px;
  width: 216px;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #d7d7d7;
  background: #f1f1f1 url(/static/img/search.svg) no-repeat right 16.3px top 50%;
  background-size: 14.7px;
  color: #757575;
  margin-right: 10px;
}

.control-ui .control-block h2 input[type='text']::placeholder {
  color: #c0c0c0;
}

.control-ui .control-block {
  padding: 20px 0 30px;
  border-bottom: 1px dashed #d7d7d7;
  position: relative;
}

.control-ui .control-block:last-child {
  border-bottom: none;
}


.control-ui .control-block.repl-output {
  background: #f1f1f1;
}

#main .control-ui .repl-input-controls > input {
  background: #f1f1f1;
  border: 0;
}

.control-ui .control-block.repl-output code {
  display: block;
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.control-ui .control-block h2 {
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 0;
}

.control-ui .control-block h2 button {
  padding: 0;
  width: 36px;
  height: 36px;
}

.control-ui .control-block h2 button:hover {
  background: #dfdfdf;
  border-color: #dfdfdf;
}

.control-ui .control-block h2 button img {
  transition: transform 0.1s;
  transform: rotate(0deg);
  transform-origin: center center;
  width: 12px;
  height: 12px;
}

.control-ui .control-block.collapsed h2 button img {
  transform: rotate(-90deg);
}

.control-ui .control-block.collapsed .control-block-contents,
.control-ui .control-block.collapsed h2 > input,
.control-ui .control-block.collapsed .filter-bar {
  display: none;
}






/***************** moduleDetails view ******************/

.control-block h2.back-button-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.control-ui .control-block h2.back-button-header .load-button button {
  float: right;
  align-items: baseline;
  color: #212121;
  width: 90px;
  height: 36px;
  padding: 0;
  line-height: normal;
  border-radius: 4px;
  border: solid 1px #d7d7d7;
  font-size: 13px;
  margin-right: 0px;
}

.control-ui .control-block h2.back-button-header .load-button button img {
  display: inline-block;
  margin-right: 7px;
  position: relative;
  bottom: -1.5px;
  width: 18px;
  height: 11.1px;
}

.control-ui .control-block h2.back-button-header .load-button button:hover {
  background-color: #000;
  color: #fff;
}

.control-ui .control-block h2.back-button-header .load-button button:hover img {
  filter: invert(100%);
}

h2.module-details-title {
  font-family: WorkSans-SemiBold;
  font-size: 22px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h2.module-details-title > .module-details-type {
  display: inline-block;
  font-family: WorkSans-Medium;
  color: #4499d9;
  font-size: 11px;
  text-align: right;
  /* height: 22px; */
  line-height: normal;
  vertical-align: text-bottom;
}

h3.module-details {
  font-family: WorkSans-SemiBold;
  font-size: 14px;
  color: #2d2d2f;
}



.functions-list li  .function-name {
  color: #757575;

  width: 200px;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.functions-list li  .function-desc {
  color: #757575;

  width: 500px;
  overflow: hidden;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.functions-list li  .function-view {
  flex-grow: 10;
}


.functions-list li:hover {
  background-color: #e7e7e7;
}

.functions-list li button {
  float: right;
  align-items: baseline;
  color: #212121;
  width: 90px;
  height: 26px;
  padding: 0;
  line-height: normal;
  margin-right: 15px;
  margin-top: 8px;
  border-radius: 4px;
  border: solid 1px #d7d7d7;
  font-size: 13px;
}

.functions-list li button img {
  display: inline-block;
  margin-right: 7px;
  position: relative;
  bottom: -1.5px;
  width: 18px;
  height: 11.1px;
}

.functions-list li:last-child {
  border: none;
}

.functions-list li button:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.functions-list li button:hover img {
  filter: invert(100%);
}
/***************** moduleDetails view end **************/

/***************** CallFunction ************************/

.function-details {
  color: #757575;
}

span.pact-arg-name {
  font-family: RobotoMono-LightItalic;
  font-size: 12px;
}

span.pact-type {
  font-family: RobotoMono-Light;
  font-size: 12px;
  color: #ff0200;
  background-color: #e6e6e6;
  border-radius: 3px;
  height: 22px;
  padding: 2px;
}

span.pact-arg-delimiter {
  display: inline-block;
  width: 1em;
}

.function-desc.code-font {
  font-family: RobotMono;
  font-size: 12px;
  color: #7b7b7b;
}
span.pact-fun-return-arrow {
  color: #757575;
}

.fun-arg-edit .small-input {

}

.fun-arg-edit input {
  flex: 1;
  margin: 0;
  font-size: 15px;
  padding: 0 10px;
  line-height: 32px;
  width: 216px;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #d7d7d7;
  background-color: #f1f1f1;
  background-size: 14.7px;
  color: #757575;
  margin-right: 10px;
}
/***************** CallFunction end ********************/
