/* Basic CSS common to all of pact-web */

@import 'defs';

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $std-fonts;
  background: $body-background;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: $body-width;
}


%control
{
  -webkit-appearance: none;
  border-radius: $std-border-radius;
  border-style: $std-border-style;
  border-width: $std-border-width;
  border-color: $primary-border-color;

  background: transparent;

  height: $control-height;
  line-height: $control-line-height;

  cursor: pointer;

  font-family: $std-fonts;
  font-size: $primary-font-size;
  color: #fff;

  padding: 0 20px;
}


