/*
  Overall structure: https://en.bem.info/methodology/quick-start/

  We have "primary" controls which are important and very prominent in a
  widget. They are usually mandatory to use and at the top, example backend
  selection in deploy confirmation dialog.

  Then we have "secondary" controls. Use this for actions that trigger
  something not entirely trivial, but also not like super important. E.g.
  opening the details page of some item.

  Then we have "tertiary" controls which offer functionality the user might
  want to use, but certainly does not need too. Consider them optional
  controls. Example: Backend filter in the module selection.

  Primary buttons are black, secondary buttons have black text, tertiary
  buttons have dark grey text on grey background.
*/
@import 'fonts';
@import 'base';
// @import 'legacy';
// @import 'legacy-extra';

// Blocks:

@import 'common.blocks/button';
@import 'common.blocks/input';
@import 'common.blocks/select';
@import 'common.blocks/label';
@import 'common.blocks/checkbox';
@import 'common.blocks/checkbox-container';

@import 'common.blocks/segment';
@import 'common.blocks/pane';
@import 'common.blocks/group';
@import 'common.blocks/error';
@import 'common.blocks/modal';
@import 'common.blocks/table';
@import 'common.blocks/pagination';
@import 'common.blocks/heading';
@import 'common.blocks/spinner';
@import 'common.blocks/labeled-input';
@import 'common.blocks/fly-in';

@import 'common.blocks/accordion';
@import 'common.blocks/new-by-name';

@import 'common.blocks/code-font';
@import 'common.blocks/main-header';
@import 'common.blocks/main';
@import 'common.blocks/tab-nav';
@import 'common.blocks/tab-set';
@import 'common.blocks/wysiwyg';
@import 'common.blocks/keyset';
@import 'common.blocks/wallet';

@import 'common.blocks/repl';
@import 'common.blocks/signing-selector';
@import 'common.blocks/filter-bar';
@import 'common.blocks/icon';
@import 'common.blocks/error-list';

// Page items:

.page__main-header {
  position: relative;
  width: 100%;
  z-index: 99998;
}

.page__main {
  position: relative;
  width: 100%;
  flex: 1;
}
