/*
  Overall structure: https://en.bem.info/methodology/quick-start/

  We have "primary" controls which are important and very prominent in a
  widget. They are usually mandatory to use and at the top, example backend
  selection in deploy confirmation dialog.

  Then we have "secondary" controls, you don't need to specify anything, as
  "secondary" is the default. Use this actions that trigger something not
  entirely trivial, but also not like super important. E.g. opening the details
  page of some item.

  Then we have "tertiary" controls which offer functionality the user might
  want to use, but certainly does not need too. Consider them optional
  controls. Example: Backend filter in the module selection.
*/
@import 'fonts';
@import 'base';
@import 'flexbox';
// @import 'legacy';
// @import 'legacy-extra';

// Blocks:

@import 'common.blocks/button';

@import 'common.blocks/accordion';
@import 'common.blocks/code-font';
@import 'common.blocks/header';
@import 'common.blocks/main';
@import 'common.blocks/tab-nav';
@import 'common.blocks/tab-set';
@import 'common.blocks/wysiwyg';
@import 'common.blocks/segment';
@import 'common.blocks/pane';

// Page items:

.page__main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99998;
}

.page__main {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 75px;
  bottom: 0px;
}
