@import 'defs';

%control
{
  -webkit-appearance: none;
  border-radius: $std-border-radius;
  border-style: $std-border-style;
  border-width: $std-border-width;
  border-color: $primary-border-color;

  background: transparent;

  height: $control-height;
  line-height: $control-line-height;

  cursor: pointer;

  font-family: $std-fonts;
  font-size: $primary-font-size;
  color: #fff;

  padding: 0 20px;
}


