@import '../include/defs';

.button {
  -webkit-appearance: none;
  border-radius: $std-border-radius;
  border-style: $std-border-style;
  border-width: $std-border-width;
  border-color: $std-border-color;

  background: transparent;

  height: $control-height;
  line-height: $control-line-height;

  font-family: $std-fonts;
  color: $std-color;

  padding: 0 20px;
  cursor: pointer;
}

.button:hover {
  background: $hover-background;
}

.button:active {
  // background: $active-background;
  filter: invert(100%);
}

.button_type_primary {
  border-color: $black;
  color: $white;
  background: $black;
  font-size: $primary-font-size;
}

.button_type_primary:hover {
  background: $black-hover;
}

.button_type_primary:active {
  filter: invert(100%);
}

.button_type_primary[disabled],
.button_type_primary_disabled {
  background: $black-disabled-bg;
  border-color: $black-disabled-border-color;
  color: $black-disabled-color;
}

.button_type_secondary {
  border-color: $secondary-border-color;
  color: $secondary-color;
  font-size: $secondary-font-size;
}

.button_type_tertiary {
  border-color: $secondary-border-color;
  color: $tertiary-color;
  font-size: $secondary-font-size;
}

// Variant that uses height auto, normally used for smaller buttons:
.button_tiny {
  height: $tiny-height;
  padding-left: $medium-padding;
  padding-right: $medium-padding;
  font-size: $tiny-font-size;
  line-height: $tiny-line-height;
}


.button_confirm {
  color: $white;
  background-color: $confirm-color;
  border-color: $confirm-color;
}

.button_confirm[disabled],
.button_confirm_disabled {
  background: transparent;
  color: $black-disabled-color;
}
