@import '../include/defs';

$main-header-border-color: $primary-border-color;
$main-header-color: $white;
$main-header-font-size: $primary-font-size;


// For simplicity this block does not fully adhere to BEM (we are using child
// selectors), but this does seem to be very ok for the main header and
// minimizes the changes we need to do in Haskell. If this ever causes trouble,
// we should go full BEM.

.main-header {
  display: flex;
  background: #2d2d2f;
  color: $main-header-color;
  padding: 20px 36px 20px 20px;
}

// This h1 thing should actually be its own pact-version block. But as long as
// we don't want to re-use it, it should not do any harm to define it here:
.main-header__pact-logo {
  color: $main-header-color;
  margin: 0;
  float: left;
}

.main-header h1 .version {
  color: #727272;
  font-size: 14px;
}

.main-header__project-loader {
  text-align: right;
  float: right;
  padding-right: 12px;
}

.main-header__button {
  color: $white;
  border-color: $primary-border-color;
  background: transparent;
  padding: 0 26px;
  margin-left: $medium-margin;
}

.main-header__text-icon-button {
}

.main-header__button > .button__text-icon {
  height: $main-header-font-size - 1.5px;
  width: auto;
  filter: invert(100%);
}

.main-header__button:hover {
  background: $black-hover;
}

.main-header__docs {
  flex: 1;
  text-align: right;
}

.main-header__documents {
  margin-left: 20px;
  color: $main-header-color;
  text-decoration: none;
}

.main-header__documents img {
  display: inline-block;
  position: relative;
  bottom: -5px;
  margin-right: 7px;
}

.main-header__left-nav {
  // min-width: 455px;
  flex: 1;
}

@media (max-width: 1510px) {
  .main-header__button {
    padding: 0 12px;
  }
}

@media (max-width: 1290px) {
  .main-header__minor-text {
    display: none;
  }
}

@media (max-width: 1020px) {
  .main-header {
    padding-left: 0px;
  }
  .main-header__pact-logo {
    display: none;
  }
}

@media (max-width: 800px) {
  .main-header__kadena-log {
    display: none;
  }
}


