@import '../include/defs';

// Standard input component for typing in some text:
.input {
  border-radius: $std-border-radius;
  border-style: $std-border-style;
  border-width: $std-border-width;
  border-color: $std-border-color;

  height: $control-height;
  line-height: $control-line-height;

  font-family: $std-fonts;
  color: $std-color;

  padding: 0 $medium-padding;
}


.input_type_search {
  background: $white url(/static/img/search.svg) no-repeat right 16.3px top 50%;
  background-size: 14.7px;
}

.input_type_tertiary {
  font-size: $secondary-font-size;
  color: $tertiary-color;
  border-color: $secondary-border-color;
  background-color: transparent;
}
