$main-separator-border-color: #e2e2e2;

.main__right-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.main__left-pane {
  position: absolute;

  bottom: 0px;
  left: 0px;
  right: 50%;
  top: 0px;


  border-right: 1px solid $main-separator-border-color;
}

.main__wysiwyg {
  height: 100%;
}
