@import '../include/defs';

// There are two panes in pact-web: A left pane (the editor) and the right one
// for the controls. Each pane has a body and some header.

$pane-padding-top: $normal-padding;
$pane-padding-bottom: $pane-padding-top;
$pane-padding-right: $normal-padding;
$pane-padding-left: $pane-padding-right;

.pane {
  display: flex;
  flex-direction: column;

  padding-top: $pane-padding-top;
  padding-bottom: $pane-padding-bottom;
}

.pane__header {
  padding-left: $pane-padding-left;
  padding-right: $pane-padding-right;
  flex-grow: 0;
}

// TODO: this is really no pane__header specific:
// Using display: flex somehow changes the height of the div!! - WTF?!
.pane__header_align_right {
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  // align-items: center;

}
.pane__header_align_right > * {
  float: right;
}

// Wrapper for body so scrollbar appears outside the margin.
.pane__body-wrapper {
  overflow-y: auto;
  flex-grow: 1;
}

.pane__body {
  margin-left: $pane-padding-left;
  margin-right: $pane-padding-right;
  height: auto;
}

