@import '../include/defs';


.segment {
  width: 100%;
  padding: 0 0 $normal-padding;
  margin-bottom: $normal-margin;
  border-bottom: $std-border-width dashed $std-border-color;
}

.segment:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.segment_type_secondary {
  border-bottom: none;
  padding: 0 0 0;
  margin-bottom: $normal-margin;
}

.segment_type_tertiary {
  border-bottom: none;
  padding: 0 0 0;
  margin-bottom: $medium-margin;
}
