@import 'base';

$select-padding: 14px;

.select {
  @extend %control;
  color: $std-color;
  background: url(/static/img/arrow-down.svg) no-repeat right $select-padding top 50%;

  padding: 0 $def-padding;
  padding-right: 36px;
  background-size: 10px;
}

.select option {
  margin-left: $select-padding;
}

.select_type_secondary {
  background-image: url(/static/img/arrow-down-grey.svg);
  color: $secondary-color;
  border-color: $secondary-border-color;
  font-size: $secondary-font-size;
}


