@import '../include/defs';

$select-padding: 14px;

.select {
  @extend .input;
  -webkit-appearance: none;

  background: url(/static/img/arrow-down.svg) no-repeat right $select-padding top 50%;
  background-size: 10px;
  padding-right: 36px;

  cursor: pointer;
}

.select option {
  margin-left: $select-padding;
}

.select_type_primary {
  font-size: $primary-font-size;
  border-color: $primary-border-color;
  padding-left: 14px;
}

.select_type_secondary {
  @extend .input_type_secondary;
  background-image: url(/static/img/arrow-down-grey.svg);
}

.select_type_tertiary {
  @extend .input_type_tertiary;
  background-image: url(/static/img/arrow-down-grey.svg);
  color: $tertiary-select-color;
}

// Variant that has height: auto;
.select_tiny {
  height: $tiny-height;
  font-size: $tiny-font-size;
  line-height: $tiny-line-height;

  background-position: right 4px top 50%;
  background-size: 10px 7px;
  padding: 0 14px 0 8px;
}
