// The wallet ui:
@import '../include/defs';

.signing-selector {

}

.signing-selector__check-box-label {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.signing-selector__check-box {
  text-align: right;
}

