// The wallet ui:
@import '../include/defs';

.table {
  color: $tertiary-color;
  font-size: $secondary-font-size;
  border-collapse: collapse;
}


.table__heading {
  height: 2em;

  text-align: left;
  color: #2d2d2f;
  font-size: $secondary-font-size;

  padding-bottom: $medium-padding;
  border-bottom-style: $std-border-style;
  border-bottom-color: $std-border-color;
  border-bottom-width: $std-border-width;
}


// .table__row for fake tables, .table__row td for real ones.
.table__row,
.table__row td {
  height: 2em;

  border-bottom-style: $std-border-style;
  border-bottom-color: $std-border-color;
  border-bottom-width: $std-border-width;
}

.table__row:last-child td,
.table__row:last-child {
  border:none;
}

.table__row:hover {
  background-color: $table-hover-background;
}

.table_type_primary {
  border: $std-border-width $std-border-style $std-border-color;
  border-radius: $std-border-radius;

}

.table__row_type_primary,
.table__row_type_primary td {
  height: 41px;
  line-height: 42px;

  padding-left: $medium-padding;
  padding-right: $medium-padding;
}


.table__text-cell {
  display: block;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table__cell_size_main {
  width: 250px;
}

.table__cell_size_double-main {
  width: 500px;
}

.table__cell_size_side {
  width: 200px;
}

// Cell that basically just takes the remaining space.
.table__cell_size_flex {
  flex-grow: 10;
}

// Last cell in a row.
.table__last-cell {
  display: flex;
  // flex-wrap: wrap;
  justify-content: flex-end;
}


// Button that fits nicely in a cell_size_flex usually right most cell.
// (Button will float right.)
.table__action-button {
  align-items: baseline;
  width: 90px;
  height: $small-height;
  padding: 0;
  line-height: normal;
  margin-top: 8px;
  font-size: $small-font-size;
}

.table__left-action-button {
  margin-right: $small-margin;
}

.table__row-counter {
  width: 50px;
}

.table__row-counter:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  font-size: 15px;
  font-weight: bold;
  color: #cbcbcb;
  margin-right: 17.9px;
}


// Tables based on lists:

ol.table {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: li;
}

li.table__row {
  display: flex;
  list-style-position: inside;
}
