
@import '../include/defs';

.wysiwyg {
  position: relative;
  height: 100%;
}

.wysiwyg_height_30 {
  height: 30vh;
}

.wysiwyg .ace_editor {
  @include code-font;

  background: #ffffff !important;
  border-radius: $std-border-radius;
}

.wysiwyg > * {
  border-radius: $std-border-radius;
}

.wysiwyg .ace_editor,.ace_scroller {
  border-radius: $std-border-radius;
}

/* More space to the left of the code, so we match design */
.ace_scroller {
  margin-left: 8px;
}

.ace_editor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -8px;
}

.ace_container {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 8px;
}

.ace_scrollbar {
    display: none !important;
}

