// Definitions (variables) common to all of pact-web

$std-fonts: 'WorkSans-Regular', sans-serif;
$button-font: 'WorkSans';

// We have rounded corners, hopefully no-one is going to tell Apple:
$std-border-radius: 4px;

$std-border-width: 1px;
$std-border-style: solid;
$std-border-color: #d7d7d7;
$std-color: black;

$body-background: #f1f1f1;

$hover-background: $std-border-color;
$table-hover-background: #e7e7e7;

$active-background: #2d2d2f;

// Color used for line numbers in tables.
$counter-color: #cbcbcb;

// Width of body element obviously:
$body-width: 1166px;

$control-height: 36px;
$control-line-height: 32px;
$placeholder-color: #cdcdcd;
$secondary-placeholder-color: #b4b2b2;

// Black/white pallete:
$black: #000;
$white: #fff;
$black-hover: #403f3f;
$black-disabled-bg: #2d2d2f;
$black-disabled-border-color: $black-disabled-bg;
$black-disabled-color: #7e7e7e;

// Primary definitions:

$primary-color: black;
$primary-border-color: #525252;
$primary-font-size: 17px;

// Secondary definitions:
$secondary-color: #212121;
$secondary-border-color: $std-border-color;
$secondary-font-size: 15px;

// Tertiary definitions:
$tertiary-color: #757575;
// $tertiary-select-color: #2d2d2f;
$tertiary-select-color: $tertiary-color;

// Tiny:
$tiny-font-size: 14px;
$tiny-line-height: 18px;
$tiny-height: 22px;

// Small
$small-height: 26px;
$small-font-size: 14px;


// Margins:

$small-margin: 5px;
$medium-margin: 10px;
$normal-margin: 20px;
$bigger-margin: 30px;
$double-margin: 2 * $normal-margin;


// Paddings:

$small-padding: $small-margin;
$medium-padding: $medium-margin;
$normal-padding: $normal-margin;
$bigger-padding: $bigger-margin;
$double-padding: $double-margin;

$group-side-padding: 15px;

$input-padding: 0 $medium-padding;

// Other colors:

$confirm-color: #4499d9;
$confirm-color-highlight: #3489c9;


//checkbox:

$checked-background: #4499d9;

// Font used for code.
@mixin code-font {
  font-family: 'RobotoMono', monospace; // Ace is pretty nasty with overriding.
  font-size: 15px;
}

// Panes:

$pane-padding-top: $normal-padding;
$pane-padding-bottom: $pane-padding-top;
$pane-padding-right: $normal-padding;
$pane-padding-left: $pane-padding-right;
