/* Basic CSS common to all of pact-web */

@import 'include/defs';

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $std-fonts;
  background: $body-background;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // min-width: $body-width;
}


code {
  font-family: 'RobotoMono', monospace;
}

.title {
  font-family: WorkSans;
  display: block;
  font-weight: 600;
}

.description {
  font-family: WorkSans;
  font-size: 13px;
}

.page {
  display: none;
  flex-grow: 1;
  margin: 2rem;
}

.page.visible {
  display: block;
}

.page.contracts {
  margin: 0;
  flex-direction: column;
}

.page.contracts.visible {
  display: flex;
}
