/*********************************************************************************
   Ensure classes and structure are created in accordance with the BEM methodology.
   For more info: https://en.bem.info/methodology/quick-start/

*********************************************************************************/

@font-face {
  font-family: WorkSans-Black;
  src: url(/static/fonts/WorkSans-Black.ttf);
}
@font-face {
  font-family: WorkSans-Bold;
  src: url(/static/fonts/WorkSans-Bold.ttf);
}
@font-face {
  font-family: WorkSans-ExtraBold;
  src: url(/static/fonts/WorkSans-ExtraBold.ttf);
}
@font-face {
  font-family: WorkSans-ExtraLight;
  src: url(/static/fonts/WorkSans-ExtraLight.ttf);
}
@font-face {
  font-family: WorkSans-Light;
  src: url(/static/fonts/WorkSans-Light.ttf);
}
@font-face {
  font-family: WorkSans-Medium;
  src: url(/static/fonts/WorkSans-Medium.ttf);
}
@font-face {
  font-family: WorkSans-Regular;
  src: url(/static/fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: WorkSans;
  src: url(/static/fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: WorkSans-SemiBold;
  src: url(/static/fonts/WorkSans-SemiBold.ttf);
}
@font-face {
  font-family: WorkSans-Thin;
  src: url(/static/fonts/WorkSans-Thin.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(/static/fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: RobotoMono-Light;
  src: url(/static/fonts/RobotoMono-Light.ttf);
}
@font-face {
  font-family: RobotoMono-Italic;
  src: url(/static/fonts/RobotoMono-Italic.ttf);
}
@font-face {
  font-family: RobotoMono-LightItalic;
  src: url(/static/fonts/RobotoMono-LightItalic.ttf);
}

@font-face {
  font-family: HaasGrotDisp75;
  src: url('/static/fonts/HaasGrotDisp-75Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HaasGrotDisp45;
  src: url('/static/fonts/HaasGrotDisp-45Light.otf') format('opentype');
}

@font-face {
  font-family: Arial-BoldMT;
  src: url(/static/fonts/Arial-BoldMT.ttf);
}
