$thumbBG: $chainweaver-blue;
$scrollbarBG: $white;

* {
  scrollbar-width: thin;
  scrollbar-color: $thumbBG $scrollbarBG;
}
*::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}
*::-webkit-scrollbar-track {
  background: $scrollbarBG;
}
*::-webkit-scrollbar-thumb {
  background-color: $thumbBG;
  border-radius: 6px;
  border: 3px solid $scrollbarBG;
}
